@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));
@import "tw-animate-css";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  ::selection {
    background-color: #3fbfb8;
    color: white;
  }
}
